body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

header {
    background: url('header-background.jpg') no-repeat center center;
    background-size: cover;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #343a40;
    color: #fff;
}

.sidebar .nav-link {
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar .nav-link.active, .sidebar .nav-link:hover {
    background-color: #495057;
    color: #ffc107;
}

.sidebar .nav-link::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #ffc107;
    transition: background-color 0.3s;
}

.sidebar .nav-link.active::before, .sidebar .nav-link:hover::before {
    background-color: #fff;
}

section {
    padding: 40px 0;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
